:root{
    --time: 2.5s;
    --opacity: 0.7
}

body {
  margin: 0;
}
.loader {
  position: absolute;
  top: 50%;
  left: 40%;
  margin-left: 10%;
  transform: translate3d(-50%, -50%, 0);
}
.dot {
  width: 40px;
  height: 40px;
  background: #3ac;
  border-radius: 100%;
  display: inline-block;
  animation: slide var(--time) infinite;
  margin-left: 20px;
}
.dot:nth-child(1) {
  animation-delay: calc(var(--time)*0.1);
  background: #161758;
}
.dot:nth-child(2) {
  animation-delay: calc(var(--time)*0.2);
  background: #404583;
}
.dot:nth-child(3) {
  animation-delay: calc(var(--time)*0.3);
  background: #969bcc;
}
.dot:nth-child(4) {
  animation-delay: calc(var(--time)*0.4);
  background: #c8aacc;
}
.dot:nth-child(5) {
  animation-delay: calc(var(--time)*0.5);
  background: #faaacc;
}
@-moz-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: var(--opacity);
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: var(--opacity);
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: var(--opacity);
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: var(--opacity);
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 767px) {
  .loader{
    margin-left: 40px;
  }
  .dot {
  width: 23px;
  height: 23px;
  margin-left: 5px;
}
  
}