.itemContent {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: 400px;
    overflow-y: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 5px;
    text-align: justify;
   
}

.itemContent img {
    display: block;
    width: 700px;
    height: 100%;
}

.button{
    border-radius: 20px;
    border: 2px solid #eb549aff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: transparent;
}