.mainDiv{
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
    border: none;   
    overflow: hidden;
    font-size: 20px;
}

.titleDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.partnersListDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;}

.partnerDiv{
    width: 300px;
    text-align: center;
    margin-bottom: 30px;
}

.partnerImg{
    width: 300px;
    height: 300px;
    object-fit: contain
}

@media (min-width: 768px) and (max-width: 1400px) {
    .partnersListDiv{
        gap: 20px
    }
}

/* Telefon */
@media (max-width: 767px) {
    .mainDiv{
        margin-top: 10px;
        margin-bottom: 0
    }

    .partnersListDiv{
        gap: 10px
    }

    .partnerDiv{
    width: 150px;
    text-align: center;
}

    .partnerImg{
    width:  100px;
    height: 100px;
    object-fit: cover;
}

}