.mainDiv{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    justify-content: space-between;
}

img{
    width: 200px;
    height: 100px;
}

.imgDiv{
    margin-left: 50px;
}

.buttonsDiv{
    margin-right: 150px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    gap:30px
}

.buttons{
    color:#0f0546;
    background: none;
    border: none;
    font-family: 'Comic Relief', cursive;
    font-size: 25px;
}
