.mainDiv{
    display: flex;
    flex-direction: row;
    margin: auto 100px;
    gap: 20px;
    justify-content: right;
}

.sectionsDiv{
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.tabNav{  
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  left: 100px;
}

.tabNav button {
    width: 400px;
    text-align: justify;
    white-space: pre-line;
    display: flex;
    gap: 20px;
    border: 2px solid #f3618e;
    overflow: hidden;
    padding: 10px;
    align-items: center;
    box-shadow: 6px 7px 15px 2px rgb(193 135 157);
    cursor: pointer;
    transition: transform 0.5s ease-in-out, background-color 1.5s ease;
}

.activeTab {
    transform: scale(1.1);
    background-color: #fce3ec88;
    transition: transform 0.5s ease-in-out; 
}

.tabNav button:hover {
  background-color: #fce3ec88;
  transform: scale(1.1);
}

.projectImg{
  width: 150px;
  height: 100px;
  object-fit: cover;
}


