.mainDiv{
     display: flex;
    flex-direction: row;
    margin: auto 150px;
    gap: 20px;
    justify-content: space-around;
    position: relative;
    align-items: flex-start;

}

.sectionsDiv{
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.tabAndBoxDiv{
    z-index: 1;
    position: sticky;
    top: 200px;

}

.tabNav{ 
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.shadowDiv{
  box-shadow: #f3618e;
}

.activeTab {
    transform: scale(1.1);
    background-color: #fce3ec88;
    transition: transform 0.5s ease-in-out !important;
    opacity: 1 !important;
    
}

.tabNav button {
    width: 400px;
    text-align: justify;
    white-space: pre-line;
    display: flex;
    gap: 20px;
    border: 2px solid #f3618e;
    overflow: hidden;
    padding: 10px;
    align-items: center;
    box-shadow: 6px 7px 15px 2px rgb(193 135 157);
    cursor: pointer;
    transition: transform 0.5s ease-in-out, background-color 1.5s ease;
    opacity: 0.5;
}



.tabNav button:hover {
  background-color: #fce3ec88;
  transform: scale(1.1);
}

.projectImg{
  width: 150px;
  height: 100px;
  object-fit: cover;
}


