
code{
    white-space: pre-wrap;    /* pozwala łamać linie w pre */
    word-break: break-word;   /* łamanie długich słów */
    text-align: justify;    
}

.contentDiv{
    width: 650px;
    text-align: justify;
    white-space: pre-line;
    display: flex;
    gap: 10px;
    overflow: hidden;
    transition: transform 1s ease-in-out;
    padding: 10px;
    align-items: center;
    box-shadow: 6px 7px 15px 2px rgb(193 135 157)
}

.contentDiv:hover{
    transform: scale(1.02);
}

.titleDiv{
    text-align: justify;
    display: flex;
    white-space: pre-line;
    gap: 10px;
    flex-direction: column;
}

.image{
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.paragraph{
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
}

@media (max-width: 767px) {
    .contentDiv{
        flex-direction: column;
}
    .image{
    width: 250px;
    height: 200px;
    object-fit: cover;
}

}


