
code{
    white-space: pre-wrap;    /* pozwala łamać linie w pre */
    word-break: break-word;   /* łamanie długich słów */
    text-align: justify;
    
}

h1{
    margin-top: 0;
    color: #cf728ed6;
    font-size: 25px;
}

.header2{
  font-size: 20px;
  color: #e9bfcade;
}

.paragraph{
  color: #e7bdca;
}


.contentDiv{
    width: 700px;
    text-align: justify;
    white-space: pre-line;
    display: flex;
    gap: 20px;
    border-radius: 10px;
    border: 3px solid #f3618e;
    overflow: hidden;
    background-color: #656592;
    transition: transform 1s ease-in-out;
    padding: 10px;
    align-items: center;
    box-shadow: 6px 7px 15px 2px rgb(193 135 157)
}

.contentDiv:hover{
    transform: scale(1.02);
}

.titleDiv{
    text-align: justify;
    white-space: pre-line;
}

.image{
    width: 350px;
    height: 300px;
    object-fit: cover;
}

