.mainDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    width: 900px;
    box-shadow: -1px 6px 20px 2px rgb(193 135 157);
    padding: 100px;
    padding-top: 50px;
    overflow: hidden;
}
.mainImg{
    width: 1000px;
    height: 500px;
    object-fit: cover;
}

.shadowDiv{
    width: 1200px;
}

.imageDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    
}

.image{
    display: block;      /* img jako blok */
    margin: 0 auto;      /* centrowanie poziome */

    width: 700px;
    height: 500px;
    object-fit: cover;
    box-shadow: 0px 3px 19px 4px rgb(193 135 157);
}
.text{
    margin-top: 50px;
}

.header1, 
.header2,
.header3,
.paragraph,
.li {
  color: black;
  font-family: var(--font-article);

}

.contentDiv img {
  display: block;
  margin: 20px auto;
  width: 600px;
  height: 400px;
  height: auto;
  object-fit: contain;
  box-shadow: 0px 3px 19px 4px rgb(193 135 157);
  border-radius: 10px;
}

.contentDiv h1,
.contentDiv h2,
.contentDiv h3,
.contentDiv p,
.contentDiv li {
  color: black;
  font-family: var(--font-article);
}

.header1{
  margin-bottom: 20px;
  font-size: 35px;
  font-style: italic;
  font-weight: 500;
}

@media (min-width: 768px) and (max-width: 1100px) {
  .mainDiv {
        width: 640px;
        padding: 30px;
    }

}

@media (max-width: 768px){
  .mainDiv {
        width: 290px;
        padding: 10px;
    }

    .header1{
  font-size: 25px;
}

}



