@import url('https://fonts.googleapis.com/css2?family=Cagliostro&family=Julius+Sans+One&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');
:root {
  --primary-color: #0f075d;
  --secondary-color: #3f1f9d;
  --article-color:black;
  --background-color: #656592;
  --main-background: linear-gradient(90deg, var(--background-color) 0%, white 10%, white 90%, var(--background-color) 100%);
  --background-link-color:#6565928f;
  --font-main: "Cagliostro", sans-serif;
  --font-article: "Oswald", sans-serif;
  --spacing: 16px;
}

body{
   font-family: "Cagliostro", sans-serif;
     background: linear-gradient(
    90deg,
    var(--background-color) 0%,
    white 10%,
    white 90%,
    var(--background-color) 100%
  );
  margin: 0 auto;
}

button{
  font-family: "Cagliostro", sans-serif;
  color: var(--primary-color);
}

h1{
  color: var(--primary-color);
  font-size: 26px;
  margin: 0;
}

h2{
  color: var(--primary-color);
  font-size: 23px;
  margin: 0;
  font-weight: 500;
}

h3{
  color: var(--primary-color);
}

p{
  color: var(--primary-color);
  font-size: 18px;
  margin: 0;
}

li{
    color: var(--primary-color);
    font-size: 18px;
    margin: 0;
}