.mainDiv{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.videoDiv{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center
}

.line{
    margin-top: 30px;
    border-bottom: var(--line-border-bottom);
    box-shadow: var(--line-box-shadow);
    width: 100%;
}

.contentDiv{
    margin-top: 50px;
    display: flex;
    gap: 50px;
    padding: 0 50px;
    align-items: center
}

.iframeDiv{
    width: 800px;
    height: 600px;
    
    
}

.iframe{
    width: 800px;
    height: 600px;
    border:var(--line-border-bottom);
    box-shadow: 6px 7px 15px 2px rgb(193 135 157);
}



@media (min-width: 768px) and (max-width: 1400px) {
    .iframeDiv,
    .iframe{
    width: 350px;
    height: 350px;
    }
    .contentDiv{
        gap: 20px;
        padding: 0
    }

    .descriptionDiv{
        height: 350px;
        overflow-y: auto;
    }

    .descriptionDiv::-webkit-scrollbar {
        width: 4px;
        }
    .descriptionDiv::-webkit-scrollbar-thumb {
        background: var(--line-color);
        border-radius: 30%;
        }

}

/* Telefon */
@media (max-width: 767px) {
     .descriptionDiv{
        display: none;
    }

     .iframeDiv,
    .iframe{
    width: 320px;
    height: 320px;
    }

    .contentDiv{
        gap: 20px;
        padding: 0
    }
}